.taskmaster-pro-tasks-list .task {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

@media (max-width: 600px) {
    .taskmaster-pro-tasks-list .task {
        padding: 10px;
        font-size: 14px;
    }
}
.task-table {
    width: 100%;
    border-collapse: collapse;
}

.task-table th, .task-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

.task-table th {
    background-color: #f2f2f2;
}

.task-table tbody tr:hover {
    background-color: #6f8274;
}

.completed-task {
    background-color: lightgreen;
}

.delete-list-button {
    background: none;
    border: none;
    color: #0073aa; /* Adjust the color to match your theme */
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
}

.delete-list-button:hover {
    color: #005e80; /* Adjust the hover color if needed */
}
