.taskmaster-pro-tasks-list .task {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

@media (max-width: 600px) {
    .taskmaster-pro-tasks-list .task {
        padding: 10px;
        font-size: 14px;
    }
}
.task-table {
    width: 100%;
    border-collapse: collapse;
}

.task-table th, .task-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

.task-table th {
    background-color: #f2f2f2;
}

.task-table tbody tr:hover {
    background-color: #6f8274;
}

.completed-task {
    background-color: lightgreen;
}

.delete-list-button {
    background: none;
    border: none;
    color: #0073aa; /* Adjust the color to match your theme */
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
}

.delete-list-button:hover {
    color: #005e80; /* Adjust the hover color if needed */
}

/* Style the form container */
.task-form-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style form inputs */
.task-form-container input[type="text"],
.task-form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style the submit button */
.task-form-container button[type="submit"] {
    background-color: #0073aa;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.task-form-container button[type="submit"]:hover {
    background-color: #005e80;
}
.task-toggle {
    cursor: pointer; /* Indicates the element is clickable */
    color: #333; /* Dark grey color for text */
    background-color: #f9f9f9; /* Light grey background */
    padding: 10px 15px; /* Padding around the text */
    margin-bottom: 5px; /* Space below the header */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow for 3D effect */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

.task-toggle:hover {
    background-color: #e9ecef; /* Slightly darker background on hover */
    box-shadow: 0 4px 8px rgba(0,0,0,0.15); /* Larger shadow on hover for lifting effect */
}

